@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>The Gift of the Givers Foundation is the largest disaster response non-governmental organisation of African origin on the African continent.<br /> The essence of our presence is to bring hope and restore dignity to the most vulnerable</p>
<br />
<h1>SDG</h1>
<h2> Goal 3. HealthCare</h2>
<h3>Description</h3>
<p>
    Ensure healthy lives and promote well-being for all at all ages
    Ensuring healthy lives and promoting well-being at all ages is essential to sustainable development. Currently, the world is facing a global health crisis unlike any other — COVID-19 is spreading human suffering, destabilizing the global economy and upending the lives of billions of people around the globe.
</p>
<br />
<h3> Targets</h3>
<p>By 2030, reduce the global maternal mortality ratio to less than 70 per 100,000 live births.</p>
<p>
    By 2030, end preventable deaths of newborns and children under 5 years of age, with all countries aiming to reduce neonatal mortality to at least as low as 12 per 1,000 live births and under-5 mortality to at least as low as 25 per 1,000 live births.
</p>
<p>
    By 2030, end the epidemics of AIDS, tuberculosis, malaria and neglected tropical diseases and combat hepatitis, water-borne diseases and other communicable diseases.

</p>