@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Narritives</h1>
</div>
<div class="row">
<div class="col-sm-6">
  
      
           
    <div style="text-align: center;">
        
        <img class="card-img-top" src="~/Images/narritive1.png" alt="Card image cap" style="width:350px; ">
    </div>
            <br />
           
            <br />
        </div>
<div class="col-sm-6">
       

            <div style="text-align: center;">
                <img class="card-img-top" src="~/Images/narritive2.png" alt="Card image cap" style="width:350px; ">
            </div>
            <br />

            <br />
        </div>
</div>
<div class="row">
    <div class="col-sm-6">


        <div style="text-align: center;">
            <img class="card-img-top" src="~/Images/narritive 3.png" alt="Card image cap" style="width:350px; ">
        </div>
        <br />

        <br />
    </div>
<div class="col-sm-6">
       
            <div style="text-align: center;">
                <img class="card-img-top" src="~/Images/narritive 4.png" alt="Card image cap" style="width:350px; ">
            </div>
            <br />

            <br />
        </div>
</div>
<div class="row">
    <div class="col-sm-6">
        

            <div style="text-align: center;">
                <img class="card-img-top" src="~/Images/narritive 5.png" alt="Card image cap" style="width:350px; ">
            </div>
            <br />

            <br />
      

    </div>
    <div class="col-sm-6">
       
            <div style="text-align: center;">
                <img class="card-img-top" src="~/Images/Narritive 6.png" alt="Card image cap" style="width:350px; ">
            </div>
            <br />

            <br />
        </div>
    </div>
<div class="row">
    <div class="col-sm-6">
    

            <div style="text-align: center;">
                <img class="card-img-top" src="~/Images/usecase.jpeg" alt="Card image cap" style="width:350px; ">
            </div>
            <br />

            <br />
        </div>
    </div>
